.citacao{
  width: 0;
  height: 0;
  border: 0;
}

.publicacao {
  align-items: left;
  background: #f9fcfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
  padding: 12px;
  width: 85%;
  min-height: 250px;
  border: 1px solid;
  border-radius: 6px;
  box-shadow: 2px 5px 10px 1px #888888;
}

.publicacao h2 {
  color: #545457;
  font-size: 28px;
}

.publicacao p {
  color: #888888;
  margin: 20px 0;
}

.publicacao a {
  color: #6FA9FF;
  font-size: 16px;
  text-decoration: none;
  width: 70px;
}
.btn-conteiner{
  display: flex;
  justify-content: left;
}
.publi-btn{
  margin-top: 5px;
  margin-right: 5px;
  width: 100px;
  height: 25px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #6FA9FF;
  color: #fff;
  
  font-weight: bold;
  box-shadow: 2px 3px 4px 1px #888888;
}

.publi-btn:hover{
  cursor: pointer;
  
}